<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mills 561 Darts</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>

    <!-- Custom js -->
    <script src="script.js"></script>
    <script type="text/javascript" src="ngEnter.js"></script>
  </head>
  <body ng-app="darts" ng-controller="myCtrl">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://mills561.github.io">Mills 561</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="https://mills561.github.io/"">Calendar</a></li>
            <li class="active"><a href="https://mills561.github.io/darts">Darts</a></li>
            <li><a href="https://mills561.github.io/chains"">Chains</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row text-center">
        <h1>Darts</h1>
        <hr />
      </div>
      <div class="row text-center" id="top">
        <div class="col-xs-4">
          <h3 ng-click="showHideFirstName()" ng-show="showFirstName">{{firstName}}</h3>
          <input type="text" name="firstName" ng-show="!showFirstName" ng-enter="showHideFirstName()" ng-model="firstName" placeholder="Enter name..." />
        </div>
        <div class="col-xs-4">
          <h3>Cricket</h3>
        </div>
        <div class="col-xs-4">
          <h3 ng-click="showHideSecondName()" ng-show="showSecondName">{{secondName}}</h3>
          <input type="text" name="secondName" ng-show="!showSecondName" ng-enter="showHideSecondName()" ng-model="secondName" placeholder="Enter name..." />
        </div>
      </div>
      <div class="row text-center">
        <div class="col-xs-4">
          <div ng-repeat="i in getNumber(7) track by $index" id="leftSide">
            <h3 ng-click="addCheck($event)">click</h3>
          </div>
        </div>
        <div class="col-xs-4 border">
          <div ng-repeat="i in getNumber(7) track by $index">
            <h3>{{value[$index]}}</h3>
          </div>
        </div>
        <div class="col-xs-4">
          <div ng-repeat="i in getNumber(7) track by $index" id="rightSide">
            <h3 ng-click="addCheck($event)">click</h3>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
            <p class="text-muted">&copy;&nbsp;David San Antonio 2016 | <a href="https://github.com/mills561/mills561.github.io">Github</a></p>
        </div>
      </div>
    </footer>
  </body>
</html>