<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mills 561 Chain Reaction</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../style.css">

    <!-- jQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>

    <!-- Custom js -->
    <script src="../script.js"></script>
  </head>
  <body ng-app="chain" ng-controller="myCtrl">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://mills561.github.io">Mills 561</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="https://mills561.github.io/"">Calendar</a></li>
            <li><a href="https://mills561.github.io/darts">Darts</a></li>
            <li class="active"><a href="https://mills561.github.io/chains">Chains</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row text-center">
        <h1>Chain Reaction: <small>Fast Money</small></h1>
        <hr />
      </div>
      <div class="row text-center">
        <div class="col-xs-12">
          <h2 class="inline">Score: <sup>{{total}}</sup>&frasl;<sub>7</sub></h2>
          <h2 class="inline">Time: {{time}}</h2>
          <br />
          <div ng-show="finished">
            <ul class="inline">
              <h4 id="correctList" class="correct">
                <li ng-repeat="word in correctWords">{{word}}&nbsp;<i class="glyphicon glyphicon-ok"></i></li>
              </h4>
              <h4 id="incorrectList" class="incorrect">
                <li ng-repeat="word in fastMoneyWords">{{word}}&nbsp;<i class="glyphicon glyphicon-remove"></i></li>
              </h4>
            </ul>
          </div>
          <button class="btn btn-default" ng-click="enterNewWords()" ng-hide="timerStarted || enterWords">Enter words</button>
          <div ng-show="enterWords">
            <input type="text" ng-model="wordToAdd" placeholder="Enter word here" id="addWords" ng-keypress="addWord($event.originalEvent.keyCode)" />
            <button class="btn btn-default" ng-click="addWord(13)">Add to list</button>
            {{7 - fastMoneyWords.length}} words left to add
          </div>
          <div ng-show="timerStarted">
            <h1>{{fastMoneyWords[currentWord]}}</h1>
            <button class="btn btn-success" ng-click="newWord(true)">Correct</button>
            <button class="btn btn-warning" ng-click="newWord(false)">Skip</button>
          </div>
        </div>
      </div>
      <div class="row text-center margin-top">
        <a href="../" class="btn btn-default">Back</a>
      </div>
    </div>
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
            <p class="text-muted">&copy;&nbsp;David San Antonio 2016 | <a href="https://github.com/mills561/mills561.github.io">Github</a> | <a href="http://www.gsntv.com/show/chain-reaction/">Chain Reaction Game</a></p>
        </div>
      </div>
    </footer>
  </body>
</html>